//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 12 18:48:42 2015
//! **************************************************************************

SCHEMATIC START;
COMP "D_ssd<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "D_ssd<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "D_ssd<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "D_ssd<9>" LOCATE = SITE "R3" LEVEL 1;
COMP "D_ssd<10>" LOCATE = SITE "U7" LEVEL 1;
COMP "D_ssd<11>" LOCATE = SITE "T5" LEVEL 1;
COMP "D_ssd<12>" LOCATE = SITE "V5" LEVEL 1;
COMP "D_ssd<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "D_ssd<14>" LOCATE = SITE "P6" LEVEL 1;
COMP "i<0>" LOCATE = SITE "T1" LEVEL 1;
COMP "i<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "i<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "i<3>" LOCATE = SITE "N2" LEVEL 1;
COMP "d<0>" LOCATE = SITE "F2" LEVEL 1;
COMP "d<1>" LOCATE = SITE "F1" LEVEL 1;
COMP "D_ssd<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "d<2>" LOCATE = SITE "H6" LEVEL 1;
COMP "D_ssd<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "d<3>" LOCATE = SITE "H5" LEVEL 1;
COMP "D_ssd<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "D_ssd<3>" LOCATE = SITE "V7" LEVEL 1;
COMP "D_ssd<4>" LOCATE = SITE "V4" LEVEL 1;
COMP "D_ssd<5>" LOCATE = SITE "T4" LEVEL 1;
SCHEMATIC END;

