
# PlanAhead Generated physical constraints 

NET "oscillator" LOC = R10;
NET "display[18]" LOC = T6;
NET "display[17]" LOC = V6;
NET "display[16]" LOC = U8;
NET "display[15]" LOC = V8;
NET "display[14]" LOC = P6;
NET "display[13]" LOC = N4;
NET "display[12]" LOC = V5;
NET "display[11]" LOC = T5;
NET "display[10]" LOC = U7;
NET "display[0]" LOC = U5;
NET "display[9]" LOC = R3;
NET "display[8]" LOC = N5;
NET "display[7]" LOC = R5;
NET "display[6]" LOC = T3;
NET "display[5]" LOC = T4;
NET "display[4]" LOC = V4;
NET "display[3]" LOC = V7;
NET "display[2]" LOC = R7;
NET "display[1]" LOC = T7;

NET "pb_in" LOC = T2;
NET "rst_n" LOC = N3;

