//! **************************************************************************
// Written by: Map P.20131013 on Thu May 21 17:56:52 2015
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "H5" LEVEL 1;
COMP "pb_in" LOCATE = SITE "T2" LEVEL 1;
COMP "pins_out" LOCATE = SITE "E18" LEVEL 1;
SCHEMATIC END;

